@using HostIsle.Data.Models.Hotels.Enums
@using HostIsle.Web.Hotels.ViewModels.Hotels
@model HotelInformationViewModel
@{
    this.Layout = "_UsersLayout";
}
<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Регистрирай гост </h3>
        <p class="text-subtitle text-muted">Тук можете да регистрирате гост в хотела.</p>
    </div>
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Регистрирай</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form" method="post" asp-controller="Reservations" asp-action="Create" asp-route-id="@String.Concat(this.Model.Hotel.Id, " ", this.Model.Role)">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Първо име</label>
                                            <input asp-for="AddReservationViewModel.FirstName" type="text" class="form-control" id="input" placeholder="Иван">
                                            <span asp-validation-for="AddReservationViewModel.FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Фамилно име</label>
                                            <input asp-for="AddReservationViewModel.LastName" type="text" class="form-control" id="input" placeholder="Петров">
                                            <span asp-validation-for="AddReservationViewModel.LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Имейл</label>
                                            <input asp-for="AddReservationViewModel.Email" type="email" class="form-control" id="input" placeholder="ivan-pt@gmail.com">
                                            <span asp-validation-for="AddReservationViewModel.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="room-type">Стая</label>
                                            <select asp-for="AddReservationViewModel.RoomNumber" id="room-type" class="form-control">
                                                @foreach (var room in this.Model.Hotel.Rooms)
                                                {
                                                    var roomType = room.RoomType switch
                                                    {
                                                        RoomType.Apartment => "Апартамент",
                                                        RoomType.Double => "Двойна",
                                                        RoomType.Quad => "Четворна",
                                                        RoomType.Studio => "Студио",
                                                        RoomType.Suite => "Суит",
                                                        RoomType.Triple => "Тройна",
                                                        _ => null
                                                    };
                                                    <option value="@room.RoomNumber">@room.RoomNumber, @roomType</option>
                                                }

                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>От</label>
                                            <input asp-for="AddReservationViewModel.StartDate" type="date" class="form-control" id="input" placeholder="24.01.2021">
                                            <span asp-validation-for="AddReservationViewModel.StartDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>До</label>
                                            <input asp-for="AddReservationViewModel.EndDate" type="date" class="form-control" id="input" placeholder="25.01.2021">
                                            <span asp-validation-for="AddReservationViewModel.EndDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Възрастни</label>
                                            <input asp-for="AddReservationViewModel.Adults" type="number" class="form-control" id="input" placeholder="2">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Деца</label>
                                            <input asp-for="AddReservationViewModel.Children" type="number" class="form-control" id="input" placeholder="1">
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Регистрирай</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>