<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Хотел Мениджър</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/vendors/chartjs/Chart.min.css">
    <link rel="stylesheet" href="~/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="shortcut icon" href="~/images/logos/hotel_manager3_3.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />


</head>
<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <img src="~/images/hotel_manager3_4.png" alt="" srcset="">
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-item">
                            <a asp-area="Administrator" asp-controller="Home" asp-action="Index" class='sidebar-link'>
                                <i class="fas fa-chart-line"></i>
                                <span>Табло</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a asp-area="Administrator" asp-controller="Users" asp-action="All" class='sidebar-link'>
                                <i class="fas fa-users"></i>
                                <span>Потребители</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a asp-area="Administrator" asp-controller="Hotels" asp-action="All" class='sidebar-link'>
                                <i class="fas fa-hotel"></i>
                                <span>Хотели</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>

        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown"
                               class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar mr-1">
                                    <img src="@this.User.FindFirst("ImageUrl").Value">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Здравей, @(this.User.FindFirst("FirstName").Value)!</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i data-feather="user"></i> Профил</a>
                                <div class="dropdown-divider"></div>
                                <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })">
                                    <div class="clearfix">
                                        <button type="submit" class="dropdown-item"><i data-feather="log-out"></i> Изход</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            @this.RenderBody()

        </div>
    </div>
    <script src="~/vendors/dayjs/dayjs.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/js/feather-icons/feather.min.js"></script>
    <script src="~/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/vendors/chartjs/Chart.min.js"></script>
    <script src="~/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/js/pages/dashboard.js"></script>
    <script src="~/js/pages/ui-apexchart.js"></script>
    <script src="~/js/main.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
